<h1>Burger!</h1>

<img  src ="/assets/img/big-burger.jpg" height="100"  widht="100">

<h2>You can eat theses special burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>These burgers were devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-side devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Type your favorite Burger Here!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"><strong id=yourBurger>Your Burger Name:</strong></label>
    <input type="text" id="ca" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button id="su" type="submit">Order It, Here!</button>
</form>
