li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  font-family: 'Bowlby One SC', cursive;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1, h2{
  font-family: 'Luckiest Guy', cursive;
  color: red;
  text-align: center;
  
}

h1{
  font-size: 30px;
  color: blue;
}

body{
  background: rgb(240, 238, 168);
}

.change-devoured{
  color: blueviolet;
  font-size: 40px;

  
}

#yourBurger{
  font-size: 40px;
}

#imgId{
  margin: auto;
}
